.footer {
    background: #1D2530;
    .container {
        .row {
            margin-left: 40px;
            padding-top: 104px;
            .unhiiden {
                display: flex;
                gap: 126px;
                .card {
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 24px;
                    /* identical to box height, or 75% */
                    /* white */
                    color: #FFFFFF;
                }
                .card-2 {
                    margin-left: 392px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    h1 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        /* identical to box height, or 150% */
                        font-feature-settings: 'salt' on, 'liga' off;
                        /* Text / Gray 100 */
                        color: #F4F5F7;
                    }
                    h2 {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        /* identical to box height, or 162% */
                        font-feature-settings: 'salt' on, 'liga' off;
                        /* Text / Gray 200 */
                        color: #EEEFF4;
                    }
                    .onas {
                        margin-top: 12px;
                    }
                }
                .card-3 {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    h1 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        /* identical to box height, or 150% */
                        font-feature-settings: 'salt' on, 'liga' off;
                        /* Text / Gray 100 */
                        color: #F4F5F7;
                    }
                    h2 {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        /* identical to box height, or 162% */
                        font-feature-settings: 'salt' on, 'liga' off;
                        /* Text / Gray 200 */
                        color: #EEEFF4;
                    }
                    .onas {
                        margin-top: 12px;
                    }
                }
            }
            .hidden {
                display: none;
            }
        }
    }
}

.footer-2 {
    background: #141B23;
    .container {
        .row {
            .card {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 171% */
                font-feature-settings: 'salt' on, 'liga' off;
                /* Text / Gray 300 */
                color: #D9DBE1;
                margin-left: 30px;
                padding: 25px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .container {
            .row {
                justify-content: flex-start;
                gap: 20px;
                padding: 50px 0;
                .card {
                    margin-left: -20px;
                }
                .card-2 {
                    margin-left: 155px;
                }
            }
        }
    }
    .footer-2 {
        .container {
            .row {
                .unhiiden {
                    .card {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .footer {
        .container {
            .row {
                .unhiiden {
                    display: none;
                }
                .hidden {
                    display: flex;
                    gap: 40px;
                    .card {
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 24px;
                        /* identical to box height, or 75% */
                        /* white */
                        color: #FFFFFF;
                    }
                    .flexfoo {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 20px;
                        .card-2 {
                            margin-left: 6px;
                            display: flex;
                            flex-direction: column;
                            gap: 12px;
                            h1 {
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 30px;
                                /* identical to box height, or 150% */
                                font-feature-settings: 'salt' on, 'liga' off;
                                /* Text / Gray 100 */
                                color: #F4F5F7;
                            }
                            h2 {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 26px;
                                /* identical to box height, or 162% */
                                font-feature-settings: 'salt' on, 'liga' off;
                                /* Text / Gray 200 */
                                color: #EEEFF4;
                            }
                            .onas {
                                margin-top: 12px;
                            }
                        }
                        .card-3 {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;
                            h1 {
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 30px;
                                /* identical to box height, or 150% */
                                font-feature-settings: 'salt' on, 'liga' off;
                                /* Text / Gray 100 */
                                color: #F4F5F7;
                            }
                            h2 {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 26px;
                                /* identical to box height, or 162% */
                                font-feature-settings: 'salt' on, 'liga' off;
                                /* Text / Gray 200 */
                                color: #EEEFF4;
                            }
                            .onas {
                                margin-top: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-2 {
        .container {
            .row {
                .card {
                    margin-left: 10px;
                }
            }
        }
    }
}